/* space between */
.my_head_style{
	margin-top: 20px;
}

/* particle */
.my_body_style{
	width: 100%; 
	height: 100%; 
	background-color: #009688;
}

.my_footer_style{
	text-align: center;
	margin-top: 20px;
}